#!/usr/bin/make -f

override_dh_auto_configure:
	dh_auto_configure -- --datadir=/usr/share/libchewing3

override_dh_auto_clean:
	[ ! -f test/Makefile ] || (cd test; $(MAKE) distclean)
	dh_auto_clean

%:
	dh $@
